.Engagements{
    font-family:serif;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.Contact {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-size:cover ;
    background-repeat: no-repeat;
  }

.fond {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.présentation {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  }
